<h1>Create your new pet.</h1>
<form action="/pet_added" method="post">
  <label for="new-name">Enter the pet's name</label>
  <input id="new-name" name="new-name" type="text">
  <button type="submit"></button>
</form>
